# Home Assistant internals
/.aarlo
/.cloud
/.storage
/blueprints/*/homeassistant
/custom_components/*
!/custom_components/README.md
/deps
/image
/tts
/www/custom-jsm
/var
/home-assistant_v2.db*
/home-assistant.log*

# Privacy sensitive
/secrets.yaml
/known_devices.yaml
/groups/private.yaml
/lovelace/home/security/occupancy.yaml

.env
node_modules/
