# Home Assistant internals
/.aarlo
/.cloud
/.storage
/blueprints/*/homeassistant
/custom_components/*
!/custom_components/README.md
!/custom_components/oralb
!/custom_components/led_ble
/deps
/image
/tts
/www/custom-jsm
/var
/home-assistant_v2.db*
/*.log*
/*.pickle
/restart-container

# Privacy sensitive
/secrets.yaml
/known_devices.yaml
/extras/androidtv/keys/

.env
NOTES
node_modules/
__pycache__/
