# Home Assistant internals
/.aarlo
/.cloud
/.storage
/backups
/blueprints/*/homeassistant
/custom_components/*
!/custom_components/README.md
/deps
/image
/tmp*
/tts
/www/custom-jsm
/www/guest-wifi.png
/www/sysmon-mqtt/
/var
/home-assistant_v2.db*
/*.log*
/*.pickle

# Privacy sensitive
/secrets.yaml
/known_devices.yaml
/extras/androidtv/keys/

/.nb-allow
.env
NOTES
node_modules/
__pycache__/
