# yamllint disable rule:empty-values

default_config:

homeassistant:
  customize: !include customize.yaml
  allowlist_external_dirs:
    - /config/var
    - /storage/var
    - /tmp
  media_dirs:
    config: /config/var
    storage: /storage/var

frontend:
  extra_module_url:
    - /local/custom-jsm/card-mod.js?v=3.4.6

system_log:
  fire_event: true

recorder:
  exclude: !include recorder_exclude.yaml

logger:
  default: warning
  filters: !include logger_filters.yaml

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 127.0.0.1

lovelace:
  mode: storage
  dashboards:
    lovelace-home:
      mode: yaml
      title: !secret lovelace_street_name
      icon: mdi:home-roof
      show_in_sidebar: true
      filename: lovelace/home.yaml

influxdb: !include influx_db.yaml

tts:

utility_meter: !include utility_meter.yaml

alarm_control_panel:
  - platform: manual
    name: Home Alarm
    code: !secret alarm_code
    code_arm_required: false
    arming_time: 0
    delay_time: 30
    trigger_time: 180 # N.B. this value is hard-coded in several places...
    disarmed:
      trigger_time: 0
    armed_night:
      delay_time: 60
      arming_time: 180

# RESTful commands
rest_command:
  fireplace:
    url: >-
      http://pi4.sgraastra:9000/hooks/fireplace-{{-
        action if action in ['start', 'stop'] else 'stop' }}

notify:
  - name: All devices
    platform: group
    services:
      - service: mobile_app_pixel_9_pro
      - service: mobile_app_sm_g990b2

mqtt:
  sensor: !include_dir_merge_list mqtt/

sensor: !include_dir_merge_list sensors/
binary_sensor: !include_dir_merge_list sensors_binary/

light: !include lights.yaml

template: !include_dir_merge_list templates/

group: !include_dir_merge_named groups/

input_text: !include_dir_merge_named input/text/
input_number: !include_dir_merge_named input/number/
input_boolean: !include_dir_merge_named input/boolean/
input_datetime: !include_dir_merge_named input/datetime/

timer: !include_dir_merge_named timer/

automation: !include automations.yaml
automation custom: !include_dir_merge_list automations/

script: !include_dir_merge_named scripts/
intent_script: !include_dir_merge_named intents/

scene: !include scenes.yaml
