{# TTS friendly variants of "relative_time()" #}

{% macro relative_time_tts(seconds) %}

  {% set minutes = (seconds | int(0) / 60) | round %}

  {% if minutes < 5 %}
    just now!
  {% elif minutes < 55 %}
    about {{ ((minutes / 5) | round * 5) }} minutes ago...
  {% elif minutes < 65 %}
    about an hour ago...
  {% else %}
    more than an hour ago...
  {% endif %}

{% endmacro %}

{% macro future_time_tts(seconds) %}

  {% set minutes = (seconds | int(0) / 60) | round %}

  {% if minutes < 5 %}
    about now!
  {% elif minutes < 55 %}
    in about {{ ((minutes / 5) | round * 5) }} minutes...
  {% elif minutes < 65 %}
    in about an hour...
  {% else %}
    in more than an hour...
  {% endif %}

{% endmacro %}

{#
  Only a single daily wakeup can occur. The last wakeup's date and time are
  tracked; it is set/updated whenever this single daily wakeup occurs. If the
  current date is equal to the date of the last wakeup we thus know for sure
  today's wakeup has occurred (as otherwise it would be yesterday's wakeup 😉).
#}

{% macro today_wakeup_occurred(occurred=true) %}

  {{
    (
      (states('input_datetime.last_wakeup') | as_datetime | as_local).date() ==
        now().date()
    ) == occurred
  }}

{% endmacro %}
